<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">INICIO</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/products}">PRODUCTOS</a></li>
                        <li><a href="#" th:href="@{/product/new}">CREAR NUEVO PRODUCTO</a></li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">          
            </div>          
        </div>
    </div>
</div>
</body>
</html>