<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">

        <title>Evaluacion</title>

        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container">
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
            <div th:if="${not #lists.isEmpty(clientes)}">
                <h2>Lista de Clientes</h2>
                <table class="table table-striped">
                    <tr>
                        <th>Cliente ID</th>
                        <th>Nombres Cliente</th>
                        <th>Direccion Cliente</th>
                        <th>ver</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                    </tr>
                    <tr th:each="cliente : ${clientes}">
                        <td th:text="${cliente.idCliente}"><a href="/cliente/${cliente.idCliente}">Id</a></td>
                        <td th:text="${cliente.nombreCliente}">Nombres</td>
                        <td th:text="${cliente.direccionCliente}">Direccion</td>             
                        <td><a th:href="${'/clientes/' + cliente.idCliente}">Ver</a></td>
                        <td><a th:href="${'/clientes/edit/' + cliente.idCliente}">Editar</a></td>
                        <td><a th:href="${'/clientes/delete/' + cliente.idCliente}">Borrar</a></td>
                    </tr>
                </table>

            </div>
        </div>

    </body>
</html>