<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>Lista de Productos</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Producto ID</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>ver</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"><a href="/product/${product.id}">Id</a></td>
                <td th:text="${product.productId}">Producto ID</td>
                <td th:text="${product.description}">Descripcion</td>
                <td th:text="${product.price}">Precio</td>
                <td><a th:href="${'/product/' + product.id}">Ver</a></td>
                <td><a th:href="${'/product/edit/' + product.id}">Editar</a></td>
                <td><a th:href="${'/product/delete/' + product.id}">Borrar</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>